.footer {
  text-align: center;
  font-size: 12px;
  margin-top: 50px;
  color: #999;
}

.avatar {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  display: block;
  width: 100%;
  height: auto;
}